 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #bdaca2;

     width: 100vw;
     height: 100vh;
     --side: 20vw;
 }

 main {
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: space-around;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
 }

 .game-container {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
     border-radius: 5px;
     padding: 6px;
     user-select: none;
     margin-top: 30px;
 }

 .board {
     width: 97%;
     background: transparent;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     font-family: 'Roboto Mono', monospace;
 }

 .board button {
     border-radius: 5px;
     padding: 10px;
     background: #8f7a65;
     color: white;
     outline: none;
     border: none;
     font-family: 'Roboto Mono', monospace;
     font-size: medium;
     cursor: pointer;
     box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
 }

 button:active {
     transform: scale(0.85);
 }

 .score-holder,
 .best-holder {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
     background: #fe9462;
     color: white;
     text-transform: uppercase;
     font-size: large;
     margin-bottom: 4px;
     width: var(--side);
     max-width: 102px;
     max-height: 102px;
     padding: 2px;
     border-radius: 5px;
     box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
 }


 span {
     color: lightgray;
     text-shadow: 0 2px 4px rgba(0, 0, 0, .2);
     font-size: small;
     margin-bottom: 2px;
     font-weight: bold;

 }

 .game-row {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: row;
 }

 .cell {
     display: flex;
     width: var(--side);
     height: var(--side);
     max-width: 102px;
     max-height: 102px;
     justify-content: space-around;
     align-items: center;
     margin: 4px;
     border-radius: 5px;
     background: #cec0b5;
     box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
     font-family: 'Roboto Mono', monospace;
     color: aliceblue;
     font-size: x-large;
     font-weight: bolder;
     transition-duration: 210ms;
 }