* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  --side: 19vw;
  --max: 100px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: fixed;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 1;
}

.msg-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 70px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 0;
  background: transparent;
  z-index: 4;
}

#msg {
  border-radius: 25px;
  padding: 12px;
  background: #eda442;
  font-family: 'Roboto Mono', monospace;
  font-size: medium;
  opacity: 0;
  text-align: center;
  width: 80vw;
  max-width: 400px;
}

.show-msg {
  display: block;
  -webkit-animation: fall 1.4s ease-out;
          animation: fall 1.4s ease-out;
}

@-webkit-keyframes fall {
  30% {
    opacity: 1;
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
  }
}

@keyframes fall {
  30% {
    opacity: 1;
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
  }
}

#home {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #bdaca2;
  padding-top: 10vh;
}

@media (max-width: 300px) {
  #home {
    margin-top: 20px;
  }
  .burger {
    margin-left: .5em;
  }
  .score-holder > span,
  .best-holder > span {
    font-size: xx-small;
  }
  #best,
  #score {
    font-size: xx-small;
  }
  #new_game,
  #new_hint {
    font-size: x-small;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  padding: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: auto;
  margin-bottom: 0;
  z-index: 2;
}

.board {
  width: 97%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Roboto Mono', monospace;
}

#best,
#score {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0;
  font-size: medium;
}

.show_anim {
  font-family: inherit;
  display: block;
  height: 2px;
}

.anim {
  -webkit-animation: fly 540ms ease-in;
          animation: fly 540ms ease-in;
  opacity: 0;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  display: block;
  position: absolute;
  font-family: inherit;
}

@-webkit-keyframes fly {
  0% {
    opacity: .2;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    opacity: .8;
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  36% {
    opacity: 1;
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-38px);
            transform: translateY(-38px);
  }
}

@keyframes fly {
  0% {
    opacity: .2;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    opacity: .8;
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  36% {
    opacity: 1;
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-38px);
            transform: translateY(-38px);
  }
}

button {
  border-radius: 5px;
  padding: 6px 12px 6px 12px;
  background: #8f7a65;
  color: white;
  outline: none;
  border: none;
  font-family: 'Roboto Mono', monospace;
  font-size: medium;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  z-index: 2;
}

.best-holder:active,
button:active {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.best-holder {
  cursor: pointer;
}

.score-holder,
.best-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #8f7a65;
  color: white;
  text-transform: uppercase;
  font-size: large;
  margin-bottom: 4px;
  width: auto;
  padding: 2px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: "Raleway", sans-serif;
  padding: 3px 10px 3px 10px;
}

span {
  color: lightgray;
  font-size: small;
  margin-bottom: 2px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}

.game-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: var(--side);
  height: var(--side);
  max-width: var(--max);
  max-height: var(--max);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px;
  border-radius: 5px;
  background: #cec0b5;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: x-large;
  font-weight: bolder;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.pop {
  -webkit-animation: pop 380ms ease;
          animation: pop 380ms ease;
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.bubble {
  -webkit-animation: bubble 180ms linear;
          animation: bubble 180ms linear;
}

@-webkit-keyframes bubble {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.21);
            transform: scale(1.21);
  }
}

@keyframes bubble {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.21);
            transform: scale(1.21);
  }
}

.btn-hints {
  width: 80vw;
  max-width: 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#guide,
#about {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  padding-top: 60px;
}

#guide h2,
#about h2 {
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
  width: 94%;
  max-width: 900px;
  font-size: xx-large;
  color: #f4a234;
}

#guide p,
#guide ul,
#about p,
#about ul {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 16px;
  padding: 6px;
  width: 94%;
  max-width: 900px;
  font-size: large;
}

#guide ul,
#about ul {
  padding-left: 30px;
}

#guide a,
#about a {
  text-decoration: none;
  cursor: pointer;
  color: #f4a234;
}

#guide footer,
#about footer {
  padding: 6px;
  width: 94%;
  max-width: 900px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#guide .follow,
#about .follow {
  width: 94%;
  max-width: 900px;
  font-size: xx-large;
  color: gray;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
}

#guide .icons,
#about .icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#guide svg,
#about svg {
  fill: gray;
  width: 50px;
  height: 50px;
  margin: 16px;
}

#guide svg:hover,
#about svg:hover {
  fill: #f4a234;
}

#guide svg:active,
#about svg:active {
  -webkit-transform: scale(0.86);
          transform: scale(0.86);
}
/*# sourceMappingURL=main.css.map */