 @import url('/navbar/nav.min.css');
 @import url('/css/home.min.css');
 @import url('/css/guide.min.css');


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #262626;
     width: 100vw;
     height: 100vh;
     --side: 19vw;
     --max: 100px;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

 /* //scrollbar */
 /* width */
 ::-webkit-scrollbar {
     width: 5px;
     //padding: 2px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     background: transparent;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #c3c3c3;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #efefef;
 }